---
layout: default
title: CISC374 Showcase
---

<h1>CISC374 Spring 2020 Educational Games</h1>

Jump to:
<ul>
{% for project in site.data.s20games %}
    <li><a href="#{{ project.Key }}">{{ project.Name }}</a></li>
{% endfor %}
</ul>

<table>
{% for project in site.data.s20games %}
<tr>
<td colspan=2><h2 name="{{ project.Key }}" id="{{ project.Key }}">{{ project.Name }}</h2></td>
</tr>

<tr>

<td>
<p>Coded by {{ project.Coders }}.<br>
{{ project.Pitch }}
<ul>
    <li><strong><a href="{{ project.Link }}">Play Online</a></strong></li>
    <li><a href="{{ project.EGDD }}">Game Design Document</a></li>
    {% if project.Youtube %}
    <li><a href="{{ project.Youtube }}">Gameplay Video</a></li>
    {% endif %}
</ul>
</p>
</td>

<td>
<a href="{{ project.Link }}" target=_blank>
    <img src="screenshots/{{ project.Key }}_small.png">
</a>
</td>

</tr>

{% endfor %}
</table>